:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.3em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #6a6a6d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Corpo da Página*/

.container{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.page-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.table{
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.table-header {
  background-color: var(--background-color);
  font-size: bold;
  text-align: left;
}

.table-cell {
  border: 1px solid #d1d5db;
  padding: 8px;
  text-align: center;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--background-color);
}

.action-button{
  font-size: 1.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background-color: var(--ActionColor);
  color: var(--text-color);
}

.action-button:hover{
  transform: scale(1.2);
}

.edit-button{
  color: #646cff;
  stroke: black;
}
.remove-button{
  color: #c76161;
  stroke: black;
}
.save-button{
  color: green;
}
.cancel-button{
  color: red;
}

.edit-input{
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;

}

.table-row{
  border: 1px solid #d1d5db;
}
.table-row:nth-child(even){
  background-color: #ffffff;
}

.title-h1{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.add-button{
  position: fixed;
  bottom: 30px;
  right: 40px;
  background: var(--background-modal);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 10%;
  box-shadow: 0px 2px 4px var(--Shadow);
  stroke: var(--iconColor);
}

.add-button svg{
  color: var(--text-color);
}


.add-button:hover{
  color: #d1d5db;
}

/* Nova mensagem*/

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backModal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px var(--background-modal);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-modaltwo);
}

.modal-content input, .modal-content textarea{
  width: calc(50% + 100px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--background-modal);
}

.modal-buttons{
  display: flex;
  justify-content: space-between;
  background-color: var(--background-modal);
}

.add-btn{
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #747bff;
  color: var(--text-color);
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--background-modal);
}

.cancel-btn{
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #68a572;
  color: var(--text-color);
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--background-modal);
}


/* Barra de navegação */

.navbar{
  position: fixed;
  top: 0px;
  left: calc(50% - 75px);
  background-color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 40px;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-navbar);
}

.nav-links li{
  display: flex;
  align-items: center;
  justify-content: center;

}


ul{
  list-style: none;
}
.nav-links li a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  transition:  color 0.3s ;
}

.nav-links li a svg{
  color: var(--text-color);
}

.nav-links li a svg:hover{
  color: var(--primary-color);
}

/* Themes*/

.light-theme{
  --background-color: #ffffffee;
  --text-color: #020202;
  --primary-color: #646cff;
  --secondary-color: #d1d5db;
  --background-navbar: #fcf5f5;
  --background-modal: #f7f2f7;
  --background-modaltwo: #f3edf3;
  --backModal: #ffff; 
  --iconColor: #e2e0e0;
  --Shadow:#fcfbfc;
}

.dark-theme{
  --background-color: #121212;
  --text-color: #E0E0E0;
  --primary-color: #747bff;
  --secondary-color: #1e1e1e;
  --background-navbar: #181717;
  --background-modal: #050505;
  --background-modaltwo: #222122;
  --backModal: #0e101a;
  --iconColor: #E0E0E0;
  --Shadow:#222122;
  --ActionColor: #121212;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}

.button{
  background-color: var(--primary-color);
  color: var(--text-color);
}

.button:hover{
  background-color: var(--background-color);
}

.theme-toggle{
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  transition: color 0.3s;
  color: var(--text-color);
}

.theme-toggle:hover{
  color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


